*{
    padding: 0;
    margin: 0;
}
@mixin box-sizing($value){
    box-sizing: $value;
    -webkit-box-sizing: $value;
}
$white: #fff;
$blue: #1890ff;
$black: #000;
$textColor: #aca9a9;
$black_titleColor: rgba($black, 0.85);
$black_primaryColor: rgba($black, 0.65);
$black_secondTextColor: rgba($black, 0.45);
$black_disabledColor: rgba($black, 0.25);
$black_borderColor: rgba($black, 0.15);
$black_dividerColor: rgba($black, 0.09);
$black_backgroundColor: rgba($black, 0.04);
$white_theadColor: rgba($white, 0.02);
$white_titleColor: rgba($white, 0.85);
$white_primaryColor: rgba($white, 0.65);
$white_secondTextColor: rgba($white, 0.45);
$white_disabledColor: rgba($white, 0.25);
$white_borderColor: rgba($white, 0.15);
$white_dividerColor: rgba($white, 0.09);
$white_backgroundColor: rgba($white, 0.04);
$white_theadColor: rgba($white, 0.02);
$red: #f5222d;
$yellow: #faad14;
$green: #52c41a;
$lightGray: #f7f5f5;