.mj-page-title1{
    font-size: 28px;
    font-weight: 400;
    color: #1f2f3d;
}
.mj-page-title2{
    font-size: 22px;
    font-weight: 400;
    color: #1f2f3d;
    margin: 55px 0 20px;
}
.mj-page-direction{
    margin: 1em 0;
    font-size: 14px;
    line-height: 1.5em;
    color: $textColor;
}